@import './variables';
@import './whiteframe';

.xen-button {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  padding: 8px 16px;
  outline: none;
  text-transform: uppercase;
  transition: all 375ms $swift-in;
  user-select: none;
  z-index: 1;

  &:hover {
    background-color: rgba(0,0,0,.08);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .54;
    pointer-events: none;
  }

  &.flat {

    &.primary {
      color: $primary-color;
    }

    &.secondary {
      color: $secondary-color;
    }

    &:hover {
      background-color: rgba(0,0,0,.08);
    }

  }

  &.raised {

    &:hover {
      @extend .whiteframe-z4;
      background-color: rgba(0,0,0,.08);
    }

    &:focus {
      @extend .whiteframe-z5;
    }

    &.primary {
      background-color: $primary-color;
      color: #fff;
    }

    &.secondary {
      background-color: $secondary-color;
      color: #fff;
    }

  }

  &.xen-icon-button {
    border-radius: 50%;
    height: 40px;
    padding: 0;
    margin: 0;
    width: 40px;

    i {
      vertical-align: middle;
    }

    &.small {
      height: 40px;
      width: 40px;
    }

    &.square {
      height: 48px;
      width: 48px;
      border-radius: 2px;
      -webkit-mask-image: none;

    }

  }

}


.xen-button-container {
  position: relative;
  display: inline-block;
  margin: 4px;
  overflow: hidden;

  &.raised {
    @extend .whiteframe-z3;
  }

  &.disabled {
    color: $disabled-text;
    cursor: not-allowed;

    &.raised {
      background-color: rgba(0, 0, 0, .12);
    }
  }

  &.disabled > * {
    pointer-events: none;
  }
}

.xen-icon-button-container {
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  margin: 4px;
  overflow: hidden;
  position: relative;
  transition: all 375ms $swift-in;
  width: 40px;
  z-index: 1;

  &.raised {
    @extend .whiteframe-z2;
  }

  &.large,
  &.large .xen-icon-button-shadow,
  &.large .xen-icon-button-wrapper {
    height: 56px;
    width: 56px;
  }

}

.xen-icon-button-wrapper {
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-right: 8px;
  width: 40px;

  i {
    margin: auto;
    pointer-events: none;
    user-select: none;
  }

}

.xen-icon-button-container {

  &.disabled {
    color: $disabled-text;
    cursor: not-allowed;

    &.raised {
      background-color: rgba(0, 0, 0, .12);
    }

  }

  &.disabled > * {
    pointer-events: none;
    transition: all 375ms $swift-in;
  }

}