@import './whiteframe', './variables';

table {
  width: 100%;
  table-layout: fixed;
}

.xen-data-table {
  @extend .whiteframe-z1;
  background-color: #fff;
  width: 100%;

  .xen-data-table-header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
  }

  table {
    border-collapse: separate;
    border-top: 1px solid rgba(0,0,0,.12);
    border-spacing: 0;
  }

  th {
    border-bottom: 1px solid rgba(0,0,0,.12);
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
    height: 56px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;

    .xen-order-by {
      font-size: 16px;
      font-weight: 600;
      position: relative;
      right: 8px;
      transition: all .25s $swift-out;
      vertical-align: middle;

      &.ascending {
        transform: rotate(180deg);
      }

    }

    span {
      cursor: pointer;
      vertical-align: middle;
    }

  }

  tr,
  tr td {
    transition: all .25s $swift-in;
  }

  &.bordered td {
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &.striped tbody > tr:nth-child(odd) td {
    background-color: #f5f5f5;
  }

  td {
    color: rgba(0,0,0,.87);
    font-size: 13px;
    height: 48px;
    position: relative;
    text-align: right;
  }

  td,
  th {
    border-left: none;
    border-right: none;
    border-top: none;
    padding-right: 56px;
    user-select: none;
  }

  th.xen-first-col,
  td.xen-first-col {
    padding-left: 24px;
    padding-right: 0;
    text-align: left;

    i {
      margin-left: 8px;
      margin-right: 0;
      right: 0;
    }

  }

  tr th.first-col i {
      margin-left: 8px;
      margin-right: 0;
      right: 0;
  }

  tr th:last-child,
  tr td:last-child {
    padding-right: 24px;
  }

  &.hover tr:hover {

    td {
      background-color: #EEEEEE;
    }

  }

  .xen-checkbox i {
    display: block;
  }

  .xen-table-selection {
    padding: 0;
    width: 56px;
  }

  .xen-column-options  {

    .xen-select-container {      
      float: right;
      width: 152px;
    }

  }

  .xen-editable {
    cursor: pointer;
  }

  .xen-editable span {
    border-bottom: 1px dashed rgba(0,0,0,.54);
    cursor: pointer;
    position: relative;
    right: 48px;
  }

  .xen-data-table-edit-container {
    @extend .whiteframe-z1;
    background-color: #fafafa;
    left: 230px;
    padding: 16px 16px 0 16px;
    position: absolute;
    z-index: 12;

    .xen-input-container {
      margin: 1px;
    }

  }

  .xen-edit-buttons {
    float: right;

    .cancel {
      margin-left: 0;
    }

    .save {
      margin-right: 0;
    }

  }

  .xen-table-edit-icon {
    color: rgba(0,0,0,.54);
    position: absolute;
    right: 56px;
    top: 18px;
  }

  .xen-results-message {
    text-align: center;
  }

}

.xen-data-table.responsive {
  @media screen and (max-width: $small-breakpoint) {
    box-shadow: none;

    .xen-data-table-container {
      overflow: visible;
    }

    table {
      background-color: transparent;
      margin-bottom: 0;

      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
          border-radius: 2px;
          display: block;
          margin-bottom: 16px;

          > td {
            background-color: #fff;
            display: block;
            padding: 16px;
            text-align: right;
            vertical-align: middle;

            &:hover {
              background-color: #EEEEEE;
            }

          }

          > td[data-title]:before,
          > td[data-title]:before {
            content: attr(data-title);
            font-weight: 500;
            float: left;
            padding-right: 16px;
          }

        }

      }

    }
    
  }

}

.xen-table-edit-backdrop {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
}