@import './whiteframe';
@import './variables';

.xen-dropdown-container {
  @extend .whiteframe-z1;
  min-width: 112px;
  max-width: 280px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  z-index: 10;

  &.closed {
    opacity: 0;
  }

  &.open {
    z-index: 10;
  }

  .list-item {
    transition: all .25s $swift-in;

    &:hover {
      background-color: rgba(0,0,0,.12);
    }

  }
  
}

.xen-dropdown-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
}