@import './variables';
@import './material-color';

.xen-input-container {
  // margin: 16px 0 0 0;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  
  &.has-error-msg {
    margin-bottom: 32px;
  }

  &.xen-label {
    margin-top: 32px;
  }

  .xen-input-border {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, .12);
    bottom: 16px;
    &.xen-theme-red {
      background-color: $clr-red;
    }
  }

  label {
    display: block;
    position: absolute;
    transform: translateY(4px);
    transition: $transition-timing;
    color: rgba(0, 0, 0, .54);
    pointer-events: none;
    font-size: 16px;
    transform-origin: 0%;
    // &.xen-color-red {
    //   color: $clr-red;
    // }
  }

  textarea {
    margin-bottom: 0;
  }

  input,
  textarea {
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .12);
    padding: 4px 0;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    font-family: 'Roboto';
  }

  &.focus,
  &.has-value {
    label {
      transform: translateY(-16px) translateX(0) scale(.75);
    }
  }

  &.focus {

    label {
      // color: $primary-color;
      color: currentColor;
      &.xen-color-red {
        color: $clr-red;
      }
    }

    .xen-input-border {
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: currentColor;
      bottom: 14px;

      &.xen-theme-red {
        background-color: $clr-red;
      }
      
    }

  }

}

.xen-input-container.xen-disabled {
  input {
    opacity: .75;
  }
  .xen-input-border {
    background-color: transparent;
    border-bottom: 1px dashed rgba(0,0,0,.24);
  }
}

.xen-placeholder {
  color: rgba(0,0,0,.54);
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: rgba(0,0,0,.54);
}

.xen-input-error {
  position: absolute;
  font-size: 12px;
  bottom: -4px;
}