@import './variables';

.xen-list {
  list-style: none;
  padding: 0;
  margin: 8px 0;

  .xen-list-item {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    transition: background-color .2s $swift-in;
    padding: 0 16px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    cursor: pointer;

    &.avatar {
      height: 56px;
    }

    &:hover {
      background-color: rgba(0,0,0,.09);
    }

    &.bold {
      font-weight: 500;
    }

    .xen-list-item-text-container {
      vertical-align: middle;
      display: inline-block;
      width: 100%;
      pointer-events: none;
    } 

    &.two-line .xen-list-item-text-container,
    &.multi-line .xen-list-item-text-container {
      padding: 20px 0;
    }

    &.one-line .xen-list-item-text-container {
      padding: 16px 0;
    }

  }

  &.dense {

    .xen-list-item {
      font-size: 14px;
      height: 40px;
    }

    .xen-list-item.avatar {
      height: 48px;
    }

  }

  .xen-list-item-icon {
    width: 40px;
    opacity: .54;
    flex-shrink: 0;
    user-select: none;
    cursor: default;

    i {
      user-select: none;
    }

  }

  .xen-list-item-avatar {
    width: 40px;
    height: 40px;
    background-color: gray;
    opacity: .54;
    margin-right: 16px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    i {
      vertical-align: middle;
      text-align: center;
      width: 100%;
      color: #fff;
    }

  }

  .xen-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;    
  }

  .secondary-text {
    font-size: 14px;
    color: $secondary-text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
    line-height: 1;
  }

  span {
    line-height: 1;
  }

  .two-line span,
  .multi-line span {
    display: block;
  }

  .xen-list-item-text-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.xen-list {

  .xen-list-item.two-line {
    height: 72px;

    .xen-list-item-avatar i {
      position: relative;
      top: 8px;
    }

    &.avatar {
      height: 72px;
    }

  }

  .xen-list-item.multi-line {
    height: auto;

    .secondary-text {
      white-space: normal;
      line-height: 1.25;
    }

    .xen-list-item-avatar i {
      position: relative;
      top: 8px;
    }

    &.avatar {
      height: 72px;      
    }

  }

  &.dense {

    .xen-list-item.two-line {
      height: 60px;
    }

    .xen-list-item.avatar {
      height: 60px;
    }
    
  }

}

ul {
  list-style: none;
  padding: 0;
}