@import './variables';

.xen-radio-button-container {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    opacity: 0;
    transition: all .25s $swift-in;
  }

  .xen-radio-button {
    margin: 10px;
    width: 22px;
    height: 22px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(0,0,0,0.54);
    vertical-align: middle;
    transition: all .25s $swift-in;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    overflow: hidden;
    pointer-events: none;
    color: currentColor;
  }

  &.has-value {

    i {
      opacity: 1;
      pointer-events: none;
    }

    .xen-radio-button {
      border-color: currentColor;
    }

    .xen-radio-button .circle{
      opacity: 1;
      background-color: currentColor;
      border-color: currentColor;
    }

    &.secondary-color {
      color: $secondary-color;

      .xen-radio-button {
        border-color: $secondary-color;
      }

      .xen-radio-button .circle {
        background-color: $secondary-color;
        border-color: $secondary-color;
      }
      
    }

  }

}
