@import './whiteframe';
@import './variables';

.xen-select-container {
  position: relative;
  margin: 32px 0 16px 0;
  height: 30px;  
  &.xen-no-margin {
    margin: 0;
  }
  span {    
    color: $primary-text;
  }
  .xen-input-border {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, .12);
    // background-color: currentColor;
    bottom: 3px;

    &.xen-theme-red {
      background-color: $clr-red;
    }
    
  }

  label {
    display: block;
    position: absolute;
    transform: translateY(0px);
    transition: all 375ms $material-easing;
    color: rgba(0, 0, 0, .54);
    pointer-events: none;
    font-size: 16px;
  }

  &.has-value {

    label {
      transform: translateY(-24px);
      font-size: 12px;
    }
  }

  &.focus {

    .xen-input-border {
      height: 2px;
      background-color: currentColor;
    }

    label {
      color: $primary-color;
    }

    input, textarea {
      border-bottom: 2px solid $primary-color;
      margin-bottom: 15px;
    }
  }

  &.xen-dense {

    span {
      font-size: 14px;
    }

    .xen-select-option {
      height: 40px;
    }
  }
}

.xen-select {
  align-items: center;
  display: inline-flex;
  // padding: 4px 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-overflow: ellipsis;
  // border-width: 0 0 1px;
  // border-style: solid;
  // border-color: rgba(0, 0, 0, .12);
  height: 28px;
  overflow-x: hidden;
  
  i {
    position: absolute;
    right: 4px;
    top: 4px;
    opacity: .54;
    color: $primary-text;
  }

  span {
    width: calc(100% - 16px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

}

.xen-select-option-container {
  @extend .whiteframe-z2;
  position: fixed;
  // left: -12px;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 8px 0;
  min-height: 48px;
  max-height: 256px;
  overflow: auto;
  // width: 100%;
  transform-origin: 50%;
}

.xen-select-option {
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  transition: all .25s $swift-in;

  &:hover {
    background-color: #EEEEEE;
  }
  
}

.xen-select-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
}

.xen-select-container.focus {
  label {
    color: currentColor;
  }
}