@import './variables';

.xen-slider-container {
  width: 100%;
  padding: 8px 16px;
  position: relative;

  * {
    user-select: none;
  }

}

.xen-slider {
  width: 100%;
  background-color: rgba(0,0,0,.26);
  height: 2px;
  margin: 16px 0;
  position: relative;
}

.xen-slider-bubble {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  left: 0px;
  top: -26px;
  background-color: currentColor;
  z-index: 5;
  cursor: pointer;
  transition: all .25s $swift-in;
  opacity: 0;

  &.focus {
    transition: opacity .25s $swift-in;
    opacity: 1;
  }

  &::after {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #3f51b5;
    content: " ";
    opacity: 1;
    top: -12px;
    right: -6px;
    z-index: -1;
    position: relative;
    transform: rotate(45deg);
  }
  
  &.has-value {
    border-color: currentColor;
    background-color: $primary-color;
  }

}

.xen-slider-circle-container {

  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  transition: all .25s $swift-in;
  left: 0;
  top: 10px;
  padding: 8px;

  .xen-slider-circle {
    position: relative;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.26);
    transition: all .25s $swift-in;
  }

  &.focus {
    transition: none;
  }

  &.focus .xen-slider-circle {
    transform: scale(1.5);
    transition: none;
  }
  
  &.has-value .xen-slider-circle {
    border-color: currentColor;
    background-color: currentColor;
  }

}

.xen-slider-indicator {
  position: absolute;
  width: calc(100% - 32px);
  background-color: currentColor;
  height: 2px;
  margin: 16px 0;
  top: 8px;
  left: 16px;
  transform-origin: 0 0;
  transition: all .25s $swift-in;

  &.focus {
    transition: none;
  }
  
}

.slider-dot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: rgba(0,0,0,.12);
  display: inline-block;
  position: absolute;
}