@import '../variables';

.xen-checkbox-container {
  width: 42px;
  height: 42px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  // clip-path: circle(25px at center);
  // box-shadow: 1px 1px 1px #000;
  // -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  i {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    font-size: 18px;
    opacity: 0;
    color: #fff;
    transition: all 265ms $material-easing;
    font-weight: 700;
    // pointer-events: none;
    // z-index: 7;
    // -webkit-transform-style: preserve-3d;
    // -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;    
  }

  .xen-checkbox {
    margin: 10px;
    width: 22px;
    height: 22px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0,0,0,0.54);
    vertical-align: middle;
    transition: all 265ms $material-easing;
    z-index: 6;
  }

  &.has-value {

    i {
      opacity: 1;

    }

    .xen-checkbox {
      background-color: currentColor;
      border-color: currentColor;
    }
  }

}
