@import '../variables';

.xen-chip-container {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 4px 0;
  display: flex;
  flex-wrap: wrap;

  input {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 4px 0;
    font-size: 14px;
    max-width: 100%;
    height: 40px;
    flex-grow: 1;
  }

  &.focused {
    border-bottom: 2px solid $primary-color;
    margin-bottom: -1px;
  }
  
}

.xen-chip {
  background-color: rgb(224,224,224);
  border-radius: 16px;
  margin: 4px 8px 4px 0;  
  padding: 0 12px;
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 32px;

  span {
    vertical-align: middle
  }

}
