@import '../variables';
@import '../whiteframe';

.xen-expansion-panel {
  @extend .whiteframe-z1;
  padding: 0 24px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.12);
  width: 100%;
  height: 48px;

  i {
    width: 24px;
    position: absolute;
    right: 0;
    top: -2px;
    transition: transform .3s $swift-out;
  }

  .col-xs-3 {
    margin-top: 14px;
  }
  
  i.closed {
    transform: rotate(0deg);
  }

  i.open {
    transform: rotate(180deg);
  }

  .xen-expansion-panel-content {
    padding-bottom: 16px;
  }
}

.xen-expansion-title {
  color: rgba(0,0,0,.87);
  font-size: 15px;
}

.xen-expansion-secondary {
  color: rgba(0,0,0,.54);
  font-size: 15px;
  position: relative;
  text-align: right;
}

.xen-expansion-secondary,
.xen-expansion-title strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
