@import '../whiteframe';
@import '../variables';

.xen-select-container {
  position: relative;
  margin: 16px 0;

  label {
    display: block;
    position: absolute;
    transform: translateY(0px);
    transition: all 375ms $material-easing;
    color: rgba(0, 0, 0, .54);
    pointer-events: none;
    font-size: 16px;
  }

  &.focus, &.has-value {

    label {
      transform: translateY(-24px);
      font-size: 12px;
    }
  }

  &.focus {

    label {
      color: $primary-color;
    }

    input,
    textarea {
      border-bottom: 2px solid $primary-color;
      margin-bottom: 15px;
    }
  }

}
.xen-select {
  align-items: center;
  display: inline-flex;
  padding: 4px 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .12);
  height: 28px;

  i {
    position: absolute;
    right: 16px;
    opacity: .54;
  }
}

.xen-select-option-container {
  @extend .whiteframe-z2;
  position: absolute;
  top: -19px;
  left: -12px;
  z-index: 10;
  background-color: #fff;
  padding: 8px 0;
  min-height: 48px;
  max-height: 256px;
  overflow: auto;
  width: 100%;
}

.xen-select-option {
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  transition: all .25s $swift-in;

  &:hover {
    background-color: #EEEEEE;
  }
}

.xen-select-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
}