@import '../variables';

.xen-sidebar {
  width: 280px;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 10;
  background-color: #fff;
  @media only screen and (max-width: $small-breakpoint) {
    // height: calc(100vh - 40px);
    overflow: auto;

    //&.locked-open {
    //  transform: translateX(0px);
    //  top: 64px;
    //  height: calc(100vh - 64px);
    //}
    //&.closed {
    //  transform: translateX(-280px);
    //  height: calc(100vh - 40px);
    //}

  }
}
