*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  // overflow: hidden;
  font-size: 0;
}

.page-container {
  margin-top: 56px;
  padding-left: 280px;

}

.page-content,
.xen-page-content {
  padding: 16px;
  overflow-y: auto;
  height: 100vh;
  height: calc(100vh - 56px);
}

.page-tab-content {
  padding: 16px;
  overflow-y: auto;
  // height: 100vh;
  // height: calc(100vh - 96px);
}

pre[class*=language-],
code {
  margin: 0;

}
code[class*=language-],
pre[class*=language-] {
  white-space: pre-wrap;
  background-color: #fafafa;
  font-family: 'Roboto Mono';
  font-size: 14px;
}
.xen-no-margin {
  margin: 0;
}

.xen-page-title {
  padding-left: 0;
}

.xen-icon-button-container.xen-menu-button {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
}

.xen-vertical-align-middle {
  vertical-align: middle;
  
}

@media only screen and (max-width: $small-breakpoint) {
  .xen-page-title {
    padding-left: 40px;
  }
}

[v-cloak] .v-cloak--hidden{
  display: none;
}

.hidden {
  display: none;
}

.xen-page-tabs { 
  > .xen-tab-items-container {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  > .xen-tab-content {
    padding-top: 40px;
  }
}