// Xen Theme Colors
// Red
.xen-theme-red {
	background-color: $clr-red;
	color: $white;
}

// Pink
.xen-theme-pink {
	background-color: $clr-pink;
	color: $white;
}

// Purple
.xen-theme-purple {
	background-color: $clr-purple;
	color: $white;
}

// Deep Purple
.xen-theme-deep-purple {
	background-color: $clr-deep-purple;
	color: $white;
}

// Indigo
.xen-theme-indigo {
	background-color: $clr-indigo;
	color: $white;
}

// Blue
.xen-theme-blue {
	background-color: $clr-blue;
	color: $white;
}

// Light Blue
.xen-theme-light-blue {
	background-color: $clr-light-blue;
	color: $primary-text;
}

// Cyan
.xen-theme-cyan {
	background-color: $clr-cyan;
	color: $primary-text;
}

// Teal
.xen-theme-teal {
	background-color: $clr-teal;
	color: $white;
}

// Green
.xen-theme-green {
	background-color: $clr-green;
	color: $primary-text;
}

// Light Green
.xen-theme-light-green {
	background-color: $clr-light-green;
	color: $primary-text;
}

// Lime
.xen-theme-lime {
	background-color: $clr-lime;
	color: $primary-text;
}

// Yellow
.xen-theme-yellow {
	background-color: $clr-yellow;
	color: $primary-text;
}

// Amber
.xen-theme-amber {
	background-color: $clr-amber;
	color: $primary-text;
}

// Orange
.xen-theme-orange {
	background-color: $clr-orange;
	color: $primary-text;
}

// Deep Orange
.xen-theme-deep-orange {
	background-color: $clr-deep-orange;
	color: $white;
}

// Brown
.xen-theme-brown {
	background-color: $clr-brown;
	color: $white;
}

// Grey
.xen-theme-grey {
	background-color: $clr-grey;
	color: $primary-text;
}

// Blue Grey
.xen-theme-blue-grey {
	background-color: $clr-blue-grey;
	color: $white;
}

// Red
.xen-color-red {
	color: $clr-red;
}

// Pink
.xen-color-pink {
	color: $clr-pink;
}

// Purple
.xen-color-purple {
	color: $clr-purple;
}

// Deep Purple
.xen-color-deep-purple {
	color: $clr-deep-purple;
}

// Indigo
.xen-color-indigo {
	color: $clr-indigo;
}

// Blue
.xen-color-blue {
	color: $clr-blue;
}

// Light Blue
.xen-color-light-blue {
	color: $clr-light-blue;
}

// Cyan
.xen-color-cyan {
	color: $clr-cyan;
}

// Teal
.xen-color-teal {
	color: $clr-teal;
}

// Green
.xen-color-green {
	color: $clr-green;
}

// Light Green
.xen-color-light-green {
	color: $clr-light-green;
}

// Lime
.xen-color-lime {
	color: $clr-lime;
}

// Yellow
.xen-color-yellow {
	color: $clr-yellow;
}

// Amber
.xen-color-amber {
	color: $clr-amber;
}

// Orange
.xen-color-orange {
	color: $clr-orange;
}

// Deep Orange
.xen-color-deep-orange {
	color: $clr-deep-orange;
}

// Brown
.xen-color-brown {
	color: $clr-brown;
}

// Grey
.xen-color-grey {
	color: $clr-grey;
}

// Blue Grey Color
.xen-color-blue-grey {
	color: $clr-blue-grey;
}