@import 'variables';

/* always present */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 375ms $material-easing;
  opacity: 1;
  display: block;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.fade-enter,
.fade-leave-active {
  opacity: 0;
  //display: block;
}

/* always present */
.router-fade-enter-active,
.router-fade-leave-active {
  position: absolute;
  width: calc(100%);
  padding-left: 280px;
  top: 56px;
  right: 0;
  //overflow: scroll;
  transition: opacity .3s $swift-in;
  opacity: 1;
  display: block;
  left: 0;
  .page-tabs {
    .xen-tab-items-container {
      top: 60px;
      position: absolute;
    }
  }
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave-active defines the ending state for leaving */
.router-fade-enter,
.router-fade-leave-active {
  opacity: 0;
}

.router-fade-enter-active {
  //transition-delay: .15s;
}
